-# See ../helpers/*_helper.rb for most mysterious value defs

!!! XML
!!! Strict
/ Source available online http://github.com/PhilHarnish/playerground/
%html
  %head
    %title= "Playerground"
    = stylesheets
    = javascripts(jquery, swfobject)
  %body
    = yield
