body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
ul {
  margin: .5em; padding: 0;
}
.off {
  display: none;
}
/* status bar */
#status {
  cursor: default;
  width: 100%;
  display: block;
  position: fixed; bottom: 0;
  background: black; color: white;
}
/* param bin */
#bin {
  position: fixed; top: 0;
  width: 100%;
}
#bin h2 {
  margin: 0;
  background: black; color: white; font-size: 14pt;
  cursor: default;
}
#bin h2 small {
  color: #333; font-size: 50%; font-weight: normal;
}
#bin h2:hover small {
  color: #fff;
}
/* params */
#bin li {
  display: inline;
  padding: 3px 6px 3px 6px;
  list-style: none;
  cursor: default;
}
#bin li.param, #bin li.add-param, #bin span.title {
  position: relative;
}
#bin li.param:hover {
  background: #006; color: white;
}
#bin li.add-param:hover {
  background: #090; color: white;
}

.active, span.close-button, p.meta {
  background: #006; color: white;
}
.delete, span.close-button:hover {
  background: #900 !important; color: white;
}
.add, span.add-button {
  background: #090; color: white;
}

#bin span.close-button, #bin span.add-button {
  display: none;
}
#bin li.param:hover span.close-button, #bin li.add-param:hover span.add-button {
  display: block;
}

#bin span.close-button, #bin span.add-button {
  z-index: 1;
  position: absolute; top: -3px; right: -1.65em;
  padding: 3px 6px;
  border-left: 1px solid white;
}
#bin p.meta {
  position: absolute; left: 0;
  margin: 3px 0; padding: 3px 6px;
}
